.forum-top{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0;
}
.search{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 60%;
}
.search .s-input{
	width: 90%;
}
.ask a{
	display: inline-block;
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
	background-color: #00A491;
    border: 1px solid #00A491;
    color: #fff;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 500;
    padding: 12px 20px;
    font-size: 14px;
    border-radius: 4px;
}
.el-card{
	margin-bottom: 10px;
}
#forum-detail .user-icon{
	display: block;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #00A491;
}
.header-inner{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 20px;

}
.card-ttl{
	display: flex;
	flex-wrap: wrap;
	text-align: left;
}
.cus-icon{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin-right: 20px;
}
.cus-icon img{
	border-radius: 50%;
}
.cus-ttl{
	font-weight: bold;
}
.cus-user .cus-name{
	padding-right: 10px;
}
.cus-user .cus-time{
	font-size: 12px;
}
#blog .el-card__body{
	padding: 10px 20px;
}
.el-card__body .item{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.item-tag .el-tag{
	margin-right: 10px;
	background-color: #e8fffc;
	border-color: #00A491;
	color: #00A491;
	height: auto;
	line-height: 1.8em;
}
.item-social span{
	margin-left: 10px;
}
.item-social span i{
	color: #00A491;
	padding-right: 5px;
}

/* forum-detail */
.f-btn{
    padding: 10px;
    height: 34px;
    font-size: 12px;
    line-height: 0.5em;
}
.detail-header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}
.author-info{
    display: grid;
    grid-template-columns: 30% auto;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
}
.detail-header {}
.author-info .cus-icon{
	grid-row: 1/3;
}
.cont-info div{
	display: inline-block;
}
.cont-info .cus-time{
	margin-right: 10px;
}
.detail-body{
    margin-top: 20px;
    text-align: left;
}
.detail-body h4.forum-ttl{
    font-size: 24px;
	padding-bottom: 20px;
    display: flex;
    align-items: center;
}
.detail-body h4.forum-ttl .item-tag{
	margin-left: 20px;
}
.detail-body .forum-cont{
	padding: 0 20px;
}
.detail-body .item-social{
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.comeBox{
    display:flex; 
	flex-wrap: wrap;
	align-items: center;
}
.comeBox .cus-icon{
    width: 40px;
    height: 40px;
}
#forum-detail .comeBox .cus-icon .user-icon{
	border-radius: 50%;
}
.comeBox .come-input{
    width: 60%;
}

.comeBox .btn-wrapper{
	margin-top: 10px;
}
.my-come .btn-wrapper{
	display: none;
}
.my-come .btn-wrapper.onshow{
	display: block;
    width: 66%;
    text-align: right;
}
.allAnswer .comeBox{
	display: none;
}
.allAnswer .comeBox.onshow{
	display: block;
}
.a-header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 20px 0;
	align-items: center;
}
.a-header .a-ttl{
	border-left: 4px solid #00A491;
	padding-left: 10px;
}
.a-list .list-item{
	display: grid;
	grid-template-columns: 6% auto;
	grid-column-gap: 10px;
}
.list-item .text-wrapper{
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.list-item .cus-icon{
	grid-column: 1/2;
	grid-row: 1/4;
	width: 48px;
	height: 48px;
}
.cus-icon .commicon{
	display: inline-block;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}
.list-item .cus-name,
.list-item .cus-time{
	display: block;
}
.come-text{
	padding: 10px 0;
}
.come-footer.item-social{
	padding: 0;
    border-bottom: none;
	margin-bottom: 0;
}
.come-footer .comment{
	cursor: pointer;
}
.come-footer .comment:hover{
	opacity: 0.8;
}
.come-footer .comeBox{
	padding-top: 10px;
}